{% extends 'SymfonyOfGraceBattleBundle::layout.html.twig' %}


{% block content %}
    <div id="page-bgtop">
<div id="page-wrapper">
        <div id="page-bgbtm">
            <div id="page" class="5grid-layout">
                <div id="page-content-wrapper">
                            <section>
                                <div>
                                <a href="#"><img src="images/pics03.jpg" alt=""></a>
                                    <h2>Contact Form</h2>
                                    
                                    <p class="subtitle">Donec leo, vivamus fermentum nibh in augue praesent a lacus</p>
                                </div>
                            </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
